@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

/* About section start */
.about {
    display: flex;
    width: 100%;
    padding: 107px 152px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.about-content {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 50px;
}

.about-image {
    height: 596px;
    flex: 1 0 0;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
    flex: 1 0 0;
}

.sub-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}

.title-text {
    display: flex;
    padding: 14px 18px;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--color-peach96, #F7F6F3);
}

.abuot-text {
    color: var(--color-grey20, #333);
    font-family: Manrope;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 36px */
}

.about-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.about-name {
    align-self: stretch;
    color: var(--color-grey10, #1A1A1A);
    font-family: Manrope;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 87px */
}

.about-me {
    color: var(--grey-30, #4D4D4D);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}

.about-rate {
    display: flex;
    padding: 20px 0px;
    align-items: flex-start;
    gap: 50px;
    align-self: stretch;
    border-top: 1px solid var(--color-purple50, #5700FF);
    border-bottom: 1px solid var(--color-purple50, #5700FF);
}

.ab-rate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.rate-plus {
    color: var(--color-grey20, #333);
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; /* 72px */
}

.infinty {
    color: var(--color-purple50, #5700FF);
    font-family: Manrope;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
}

.type {
    color: var(--color-grey30, #4D4D4D);
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 27px */
}
