@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
       background: var(--color-Peach92) ;
       scroll-behavior: smooth;
}

:root {
         /* Absolute Colors */
  --color-absolute1: #FFFFFF;
  --color-absolute2: #000000;

         /* Purple Shades */
  --color-purple50: #5700FF;
  --color-purple60: #7833FF;
  --color-purple70: #9A66FF;
  --color-purple80: #BC99FF;
  --color-purple90: #DECFFC;
  --color-purple95: #DECFFC;
  --color-purple97: #F5F0FF;
  --color-purple99: #FCFAFF;

         /* Soft Peach Shades */
  --color-Peach85: #E1DBD1;
  --color-Peach90: #EBE7E0;
  --color-Peach92: #EEEBE5;
  --color-Peach95: #F5F3F0;
  --color-Peach96: #F7F6F3;
  --color-Peach97: #F9F8F6;
  --color-Peach98: #FBFAF9;
  --color-Peach99: #FDFDFC;

         /* Grey Shades */
  --color-grey10: #191919;
  --color-grey20: #333333;
  --color-grey30: #4C4C4C;
  --color-grey40: #666666;
  --color-grey50: #808080;
  --color-grey60: #999999;
  --color-grey70: #B3B3B3;
  --color-grey80: #CCCCCC;
 
         /* Supporting Colors */
  --color-purple: #9E00Ff;
  --color-green:  #5EDC11;
  --color-yellow: #FFCE22;
  --color-orange: #FF7222;
  --color-pink:   #FF22E9; 
  --color-blue:   #2260FF;
     
}